* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ff9b2f;
    font-family: Helvetica, Arial, sans-serif;
}

.myphoto {
    height: 200px;
    width:100%;
    flex-wrap:wrap;
    max-width: 250px;
    max-height: 400px;
    object-fit:contain;
    margin-left: 100px;
    background-position: center;
    flex-direction: row;
}
    img {
        width:auto;
        max-height: 100%;
    }
.titleinfo {
    justify-content: center;
    flex:content
}
.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Blue-Vibes.gif");
    background-size: cover;
    background-position: center;
}

header h1{
    padding: 20px 35px;
  }
  
.header {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: bold;
    margin: 0;
    background-color:#34a3af;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
  }
  
.header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: inline-flex;
  }
  
.header a {
    text-decoration: none;
  }
  
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:#bf6900
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-underline-position: below;
}
.summary {
    font-size: 24px;
    font-weight:lighter;
    justify-content:center;
    display: flex;
    flex-wrap:wrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
a {
    text-decoration: none;
    color:#dd8202;
    text-underline-position: below;
}

/* .content h3 {
    font-size: 28px;
}
.content h3:hover{
    font-size: 56px;
} */

#runbuddy {
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
    
}
#runbuddy :hover{
    width: 40%;
    height: 40%;
}
#horse {
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}
#horse :hover{
    width: 40%;
    height: 40%;
}
@media screen and (max-width: 600px) {
    .header {
        background-color:red;
    }
    .hero {
        display:none;
    }
    .sumarry {
        justify-content: center;
        flex-wrap;
        font-size: 8px;
    }
}
